<!-- text input -->
<div class="form-floating mb-2">
  <input
    [type]="type"
    class="form-control"
    id="textInput"
    [formControl]="formControl"
    [placeholder]="placeholder"
    [minlength]="minlength"
    [maxlength]="maxlength"
    [required]="required"
  />
  <label for="textInput">
    <span *ngIf="required || requiredValidator">*</span> <span>{{ label }}</span>
  </label>

  <ng-container *ngIf="toggleIcon">
    <div class="position-absolute toggle-pass">
      <ng-container *ngIf="type === 'password'; else textType">
        <i (click)="toggleType()" class="bi bi-eye-fill"></i>
      </ng-container>
      <ng-template #textType>
        <i (click)="toggleType()" class="bi bi-eye-slash-fill"></i>
      </ng-template>
    </div>
  </ng-container>
</div>
<!-- error handling-->
<ng-container *ngIf="formControl.dirty || formControl.touched">
  <div *ngIf="formControl.errors?.required" class="text-danger my-1">
    {{ '::FieldRequired' | abpLocalization }}
  </div>
  <div *ngIf="formControl.errors?.minlength" class="text-danger my-1">
    {{ 'حداقل ' + this.minlength + ' کاراکتر وارد کنید' }}
  </div>
  <div *ngIf="formControl.errors?.maxlength" class="text-danger my-1">
    {{ 'حداکثر ' + this.maxlength + ' کاراکتر وارد کنید' }}
  </div>

  <!-- other errors -->
  <ng-content />
</ng-container>
