.header {
  padding: 10px;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}

li {
  color: #ccc;
  cursor: pointer;
  padding: 10px 20px;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

li.active {
  border-left: 1px solid #e5e7eb;
  border-right: 1px solid #e5e7eb;
  border-top: 1px solid #e5e7eb;
  border-bottom: none;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  color: #007bff;
}
.form {
  padding: 20px;
  max-width: 1100px;
  margin: 0 auto;
}