<div class="m-2">
  <div id="label">{{ label }}</div>
  <mat-form-field>
    <mat-label>{{ label }}</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      placeholder="PlaceHolder"
      [disabled]="disabled"
      (click)="picker.open()"
      (dateChange)="dateValueChanged($event.value)"
      [value]="value"
      id="input"
    />
    <!-- dateValueChanged(value) -->
    <mat-hint [align]="'start'">MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <span>my input value: {{ value | json }}</span>
</div>
