.example-container mat-form-field + mat-form-field {
  margin-left: 8px;
}
.mat-input-invalid .mat-input-placeholder {
  color: red;
}

.mat-input-invalid .mat-input-ripple {
  background-color: red;
}
:host mat-error {
  color: red !important;
}
.mat-form-field-invalid {
  border-color: red;
}
:host::ng-deep{
    .mdc-text-field--outlined .mdc-notched-outline__leading, .mdc-text-field--outlined .mdc-notched-outline__notch, .mdc-text-field--outlined .mdc-notched-outline__trailing {
      border-color:red!important;
  }
}