<div class="m-2">
  <mat-form-field>
    <mat-label>{{ label }}</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      placeholder="MM/DD/YYYY"
      [disabled]="disabled"
      (focus)="this.markAsTouched()"
      (click)="picker.open()"
      (dateChange)="dateValueChanged($event.value)"
      [value]="value"
      id="input"
      class="mat-input-invalid"
      [errorStateMatcher]="matcher"
      formControlName ='formCtrl'
      />
    <!-- [errorStateMatcher]="matcher" -->
    <!-- https://material.angular.io/components/input/overview -->
    <!-- dateValueChanged(value) -->
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-hint style="color: red"> {{ errorMessage | json }}</mat-hint>
  </mat-form-field>
</div>
<!-- {{ ngControl?.touched | json }} -->
