<form [formGroup]="flightForm" (submit)="submit">
  <!-- form value ? {{ flightForm.value | json }} is form valid ?
  {{ flightForm.valid | json }} -->
  <h2 style="text-align: center">*** reactive form ***</h2>
  <hr style="margin: 10px" />
  <div>
    <div class="flex flex-wrap">
      <app-flight formControlName="origin"
                  label="origin"></app-flight>
      <app-flight formControlName="destination"
                  label="destination"></app-flight>

      <app-datepicker formControlName="departureDate" placeholder="your departure date"
        label="departure Date"></app-datepicker>
      <app-datepicker formControlName="returnDate" placeholder="your return date" label="return Date"></app-datepicker>
    </div>

    <hr style="margin: 10px" />

    <div class="flex flex-wrap">
      <div class="w-1/2">
        <span class="m-2">passengers</span>

        <app-passengers formControlName="passengers"></app-passengers>
      </div>
      <div class="w-1/2">
        <span class="m-2">general</span>
        <div class="m-3">
          <mat-radio-group formControlName="classType" aria-label="Select an option">
            <mat-radio-button *ngFor="let option of classTypes" [value]="option.value">{{ option.title }}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>
  </div>
  <button type="submit" (click)="submit()">Submit</button>
</form>
{{ flightForm.value | json }}
