<form [formGroup]="flightForm" (submit)="(submit)">
  <h2 style="text-align: center">*** reactive form ***</h2>
  <hr style="margin: 10px" />
  <div>
    <!-- <app-button-toggle></app-button-toggle> -->
    <!-- <mat-button-toggle-group formControlName="travelTypes">
      <mat-button-toggle
      (click)="travelTypesClick(item.value);" [value]="item.value" *ngFor="let item of travelTypes">{{
        item.title
      }}</mat-button-toggle>
    </mat-button-toggle-group> -->
    <app-multi-path formControlName="multiPath" [item]="flightForm.get('travelType')?.value"></app-multi-path>
    <hr style="margin: 10px" />
    <div class="flex flex-wrap w-1/2">
      <span class="m-2">passengers</span>
      <app-passengers formControlName="passengers"></app-passengers>
      <span *ngIf="flightForm.get('passengers')?.invalid"
        >passengers is invalid</span
      >
      <div class="w-1/2">
        <span class="m-2">general</span>
        <div class="m-3">
          <mat-radio-group
            formControlName="classType"
            aria-label="Select an option"
          >
            <mat-radio-button
              *ngFor="let option of classTypes"
              [value]="option.value"
              >{{ option.title }}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>
  </div>
  <button type="submit" (click)="submit()">Submit</button>
</form>
{{ flightForm.value | json }}
