<div class="form-floating">
  <textarea
    [formControl]="formControl"
    [style]="'min-height:' + minHeight"
    class="form-control"
    [placeholder]="placeholder"
    [required]="required"
    id="floatingTextarea"
    [maxlength]="maxlength"
  ></textarea>
  <label for="floatingTextarea">{{ label }}</label>
</div>
<!-- error handling-->
<ng-container *ngIf="this.formControl.touched || this.formControl.dirty">
  <div *ngIf="formControl.errors?.required" class="text-danger my-1">
    {{ '::FieldRequired' | abpLocalization }}
  </div>

  <div *ngIf="formControl.errors?.maxlength" class="text-danger my-1">
    {{ 'حداکثر ' + this.maxlength + ' کاراکتر وارد کنید' }}
  </div>

  <!-- other errors -->
  <ng-content />
</ng-container>
