<!-- <h1 class="text-3xl font-bold underline">Hello world!</h1> -->

<!-- <app-flight></app-flight> -->

<!-- <form [formGroup]="cityForm">
  <app-passengers formControlName="cityInput"></app-passengers>
  <input type="text" formControlName="myInput" />
  <div>
    <app-passengers formControlName="cityInput2"></app-passengers>
  </div>
  <input type="text" >
</form>
form value ? {{ cityForm.value | json }} is form valid ?
{{ cityForm.valid | json }}
<button (click)="aaa()">kkkkkkk</button> -->
<!--
<form [formGroup]="cityForm">
  <!-- form value ? {{ cityForm.value | json }} is form valid ?
  {{ cityForm.valid | json }}
  <app-datepicker
    formControlName="datepicker"
    placeholder="your date"
    Label="myDate"
  ></app-datepicker>
  <app-passengers formControlName="cityInput"></app-passengers>
  <app-flight formControlName="myInput"></app-flight>
</form>
{{ cityForm.value | json }} -->
<div>
  <router-outlet></router-outlet>
</div>
