<form [formGroup]="form"
      (submit)="(submit)">
  <app-button-toggle formControlName="travelType"
                     id="travelType"
                     [items]="travelTypes"></app-button-toggle>
  <div>
    <app-multi-path formControlName="routes"
                    [travelType]="travelType"
                    class="app-multi-path"></app-multi-path>
    <mat-error *ngIf="form.controls.routes.invalid">
      error:{{messages['routes']}}
    </mat-error>
    <hr />
    <div class="flex flex-wrap">
      <div class="w-1/2">
        <span class="m-2">passengers</span>
        <app-passengers id="passengers"
                        formControlName="passengers"
                        class="app-passengers"></app-passengers>
        <mat-error *ngIf="form.controls.passengers.invalid">
          error:{{messages['passengers']}}
        </mat-error>
      </div>
      <div class="w-1/2">
        <span class="m-2">general</span>
        <div class="m-3">
          <mat-radio-group id="class"
                           formControlName="classType"
                           aria-label="Select an option">
            <mat-radio-button *ngFor="let option of classTypes"
                              [value]="option.value">{{ option.title }}
            </mat-radio-button>
          </mat-radio-group>
          <mat-error *ngIf="form.controls.classType.invalid">
            error:{{messages['classType']}}
          </mat-error>
        </div>
      </div>
    </div>
  </div>
  <button type="submit"
          id="submit"
          (click)="submit()">Submit</button>
</form>