.menu-item-description {
  font-size: 14px;
  color: #888;
}
.header {
  height: 70px;
}

.content {
  width: 90%;
  margin: 40px auto;
  padding: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

  overflow-y: auto; /* اعمال اسکرول عمودی در صورت نیاز */
}
.scrollable-content {
  overflow-y: auto;
}

/* استایل اسکرول‌بار */
.scrollable-content::-webkit-scrollbar {
  width: 10px;
}

/* استایل قسمت قابل جابجایی اسکرول‌بار */
.scrollable-content::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}

/* استایل قسمت پیگیری شونده اسکرول‌بار */
.scrollable-content::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

/* استایل قسمت‌های قطعه‌بندی شده پیگیری شونده اسکرول‌بار */
.scrollable-content::-webkit-scrollbar-track-piece {
  background-color: #f1f1f1;
  border-radius: 5px;
}
