.header {
  padding: 10px;
}

ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}

li {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

li.active {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-bottom: none;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  color: #007bff;
}
