<form #f="ngForm">
  <div class="flex flex-wrap">
    <app-flight label="Origin"
                name="origin"
                [(ngModel)]="formData.origin"></app-flight>
    <app-flight label="Destination"
                name="destination"
                [(ngModel)]="formData.destination"></app-flight>
    <app-datepicker placeholder="your departure date"
                    label="departure Date"
                    name="departureDate"
                    [(ngModel)]="formData.departureDate"></app-datepicker>
  </div>
  <div class="flex flex-wrap">
    <div class="w-1/2">
      <span class="m-2">passenger</span>
      <app-passengers style="width: 45%"
                      name="passengers"
                      [(ngModel)]="formData.passengers"></app-passengers>
    </div>
    <div class="w-1/2">
      <span class="m-2">General</span>
      <div class="w-1/2 p-4">
        <!-- <span>my input value: {{ value | json }}</span> -->
        <div class="m-2 flex flex-wrap">
          <div class="m-auto"
               style="text-align: center">
            {{ formData.option }}
          </div>
          <div>
            <button (click)="showDrop = !showDrop">
              <i class="fa fa-users"></i>
            </button>
          </div>
        </div>
        <div class="bg-white"
             *ngIf="showDrop">
          <div class="form-group">
            <div class="form-control m-2 flex flex-col">
              <label class="radio-inline"
                     *ngFor="let general of generalTypes">
                <input type="radio"
                       id="WomenOnly"
                       name="option"
                       [value]="general.value"
                       [(ngModel)]="formData.option" />
                {{general.title}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- {{ f.value | json }} -->
</form>