<div [formGroup]="form" *ngIf="form">
  <div formArrayName="routes" id="routes">
    <ng-container *ngFor="let item of routes.controls; let i = index">
      <div *ngIf="routeIsActive(i)">
        <div [formGroupName]="i">
          <div class="flex flex-wrap">
            <app-flight
              formControlName="origin"
              id="origin"
              label="origin"
            ></app-flight>
            <app-flight
              formControlName="destination"
              id="destination"
              label="destination"
            ></app-flight>
            <app-datepicker
              [validationErrorMessage]="validationErrorMessage"
              formControlName="departureDate"
              id="departureDate"
              placeholder="your departure date"
              label="departure Date"
              />
              <!-- [error]="messages.departureDate" -->
            <!-- <mat-error *ngIf="isDateInvalid(i)">invalid </mat-error> -->
            <!-- <span
              class="passengers-error"
              *ngIf="item.controls.departureDate.invalid"
              >date is invalid</span
            > -->
            <app-datepicker
              *ngIf="item.get('returnDate')?.enabled"
              formControlName="returnDate"
              id="returnDate"
              placeholder="your return date"
              label="return Date"
            />
            <!-- <span
              class="passengers-error"
              *ngIf="item.get('returnDate')?.invalid"
              >date is invalid</span
            > -->
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div>
    <button
      *ngIf="isMultiPath()"
      (click)="addNewRow()"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
    >
      add
    </button>
  </div>
</div>
