<div [formGroup]="form">
  <div>
    <mat-button-toggle-group formControlName="travelTypes">
      <mat-button-toggle
        *ngFor="let item of travelTypes"
        (click)="travelTypesClick(item.value)"
        [value]="item.value"
        >{{ item.title }}</mat-button-toggle
      >
    </mat-button-toggle-group>
  </div>
  <div>{{ item }}</div>
  <div formArrayName="multiPath">
    <div *ngFor="let item of multiPath.controls; let i = index">
      <div [formGroupName]="i">
        <h2>{{ i }}</h2>
        <div class="flex flex-wrap">
          <app-flight formControlName="origin" label="origin"></app-flight>
          <app-flight
            formControlName="destination"
            label="destination"
          ></app-flight>
          <app-datepicker
            formControlName="departureDate"
            placeholder="your departure date"
            label="departure Date"
          ></app-datepicker>
          <app-datepicker
            formControlName="returnDate"
            placeholder="your return date"
            label="return Date"
          ></app-datepicker>
        </div>
      </div>
    </div>
  </div>
  <div>
    <button
      *ngIf="form.value.travelType == 'MultiPath'"
      (click)="addNewRow()"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full"
    >
      add
    </button>
  </div>
  {{ form.value | json }}
</div>
