<div [formGroup]="form">
  <div>
    <mat-button-toggle-group formControlName="travelType">
      <mat-button-toggle *ngFor="let item of travelTypes"
                         [value]="item.value">{{ item.title }}</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div formArrayName="routes">
    <ng-container *ngFor="let item of routes.controls; let i = index">
      <div *ngIf="routeIsActive(i)">
        <div [formGroupName]="i">
          <div class="flex flex-wrap">
            <app-flight formControlName="origin"
                        label="origin"></app-flight>
            <app-flight formControlName="destination"
                        label="destination"></app-flight>
            <app-datepicker formControlName="departureDate"
                            placeholder="your departure date"
                            label="departure Date" />
            <app-datepicker *ngIf="form.value.travelType === RoundTripTravel" formControlName="returnDate"
                            placeholder="your return date"
                            label="return Date" />
          </div>
        </div>
      </div>
    </ng-container>
  </div>
  <div>
    <button *ngIf="form.value.travelType == MultiPathTravel"
            (click)="addNewRow()"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
      add
    </button>
  </div>
  <!-- {{ form.value | json }} -->
</div>