/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.mat-mdc-menu-panel {
  position: absolute;
  left: -500px;
  padding: 5px;
  width: 500px !important;
  min-width: 300px !important;
  max-width: 500px !important;
  align-items: center;
}
.mdc-notched-outline__notch {
  border-right: none;
}
