<div class="p-4">
  <div class="m-2 flex flex-wrap" style="width: 95%">
    <div class="m-auto" style="text-align: center">
      <span>
        {{ form.value.Adult }}
        <i class="fa fa-user"></i>
      </span>
      <span>
        {{ form.value.Child }}
        <i class="fa fa-child"></i>
      </span>
      <span>
        {{ form.value.Infant }}
        <i class="fa fa-child"></i>
      </span>
    </div>
    <div>
      <button
        mat-button
        [matMenuTriggerFor]="menu"
        id="btnPassenger"
        (click)="toggleDropDown()"
      >
        <i class="fa fa-users"></i>
      </button>
      <mat-menu #menu="matMenu">
        <ng-container
          id="drop"
          [formGroup]="form"
          *ngFor="let item of passengers"
        >
          <div class="flex-container">
            <span class="font-bold py-2 px-4 mx-4 w-1/2 flex-item-left">{{
              item.name
            }}</span>
            <app-number-passengers
              class="flex-item-right"
              [formControlName]="item.name"
              [attr.item-id]="item.name"
              (click)="stopPropagation($event)"
            ></app-number-passengers>
          </div>
          <span *ngIf="getInfantError(item.name)" class="error-message">
            actual:<span>{{ form.controls.Infant.errors.max.actual }}</span>
            max:<span>{{ form.controls.Infant.errors.max.max }}</span>
          </span>
        </ng-container>
      </mat-menu>
    </div>
  </div>
</div>
