<div class="p-4">
  <div class="m-2 flex flex-wrap" style="width: 95%">
    <div class="m-auto" style="text-align: center">
      <span>
        {{ value.Adult }}
        <i class="fa fa-user"></i>
      </span>
      <span>
        {{ value.Children }}
        <i class="fa fa-child"></i>
      </span>
      <span>
        {{ value.Infant }}
        <i class="fa fa-child"></i>
      </span>
    </div>
    <div>
      <button id="btnPassenger" (click)="showDrop = !showDrop">
        <i class="fa fa-users"></i>
      </button>
    </div>
    <div class="bg-white" *ngIf="showDrop" id="drop" style="width: 100%">
      <div
        id="dropItem"
        *ngFor="let item of passenger"
        class="flex flex-wrap my-4 mx-auto"
        style="text-align: center"
      >
        <span class="font-bold py-2 px-4 mx-4 w-1/2">{{ item.name }}</span>
        <button id="btnIncr" (click)="item.increase ? item.increase(item) : increase(item); refersValue()"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >
          +
        </button>
        <span class="font-bold py-2 px-4">{{ item.value }}</span>
        <button id="btnDecr" (click)="decrees(item); refersValue()"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >
          -
        </button>
      </div>
    </div>
  </div>
</div>
