<div class="p-4">
  <div class="m-2 flex flex-wrap" style="width: 95%">
    <div class="m-auto" style="text-align: center">
      <span>
        {{ value.adult }}
        <i class="fa fa-user"></i>
      </span>
      <span>
        {{ value.child }}
        <i class="fa fa-child"></i>
      </span>
      <span>
        {{ value.infant }}
        <i class="fa fa-child"></i>
      </span>
    </div>
    <div>
      <button id="btnPassenger" (click)="showDrop = !showDrop">
        <i class="fa fa-users"></i>
      </button>
    </div>
    <div
      class="bg-white"
      *ngIf="showDrop"
      id="drop"
      style="width: 100%"
      [formGroup]="passengers"
    >
      <div
        id="dropItem"
        *ngFor="let item of passenger"
        class="flex flex-wrap my-4 mx-auto"
        style="text-align: center"
      >
        <span class="font-bold py-2 px-4 mx-4 w-1/2">{{ item.name }}</span>
        <input
          type="number"
          [formControlName]="item.name"
        />

        <!-- <input type="number" #inputEl [formControlName]="item.name" /> -->
        <button
          id="btnIncr"
          (click)="increase(item)"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >
          +
        </button>
        <span class="font-bold py-2 px-4">{{ item.value }}</span>
        <button
          id="btnDecr"
          (click)="decrees(item); refersValue()"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >
          -
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="passengers.get('infant')?.hasError('max')">
  maxInfant:{{ passengers.get("infant")?.getError("max").max }}
  The number entered for Infant :{{ passengers.get("infant")?.getError("max").actual }}
</div>

<!-- <span *ngIf="ngControl.touched" class="">{{ ngControl.errors }}</span> -->
